{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}" role="button">
        {{ if eq $.Site.Language.LanguageName "Русский" }}
        Погрузитесь в проект
        {{ else if eq $.Site.Language.LanguageName "Türkçe" }}
        Projeye dalın
        {{ else }}
        Dive into the project
        {{ end }}
      </a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "Русский" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">🎮 Управление, основанное на сообществе</h2>
          <p>Предоставление членам сообщества активно участвовать и руководить, совместно формируя направление проекта.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">✨ Доступность для сообщества</h2>
          <p>Предоставление ясной и доступной документации о наших структурах управления, политиках и процессах принятия решений.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">🚀 Расширенные возможности участия</h2>
          <p>Предложение новых ролей и возможностей для вовлечения сообщества и лидерства в проекте.</p>
        </div>
      </div>
    </div>
  </section>
  {{ else if eq $.Site.Language.LanguageName "Türkçe" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">🎮 Toplum Odaklı Yönetim</h2>
          <p>Projenin yönünü işbirliği içinde şekillendirmek için üyeleri aktif olarak katılım sağlamaları ve liderlik etmeleri için teşvik ediyoruz.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">✨ Tamamen şeffaf</h2>
          <p>Yönetim yapılarımız, politikalarımız ve karar alma süreçlerimiz hakkında açık ve erişilebilir dokümantasyon sağlıyoruz.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">🚀 Gelişmiş Katılım Fırsatları</h2>
          <p>Toplumun projeye katılımı ve liderliği için yeni roller ve fırsatlar sunuyoruz.</p>
        </div>
      </div>
    </div>
  </section>
  {{ else }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">🎮 Community-Driven Governance</h2>
          <p>Empowering members to actively participate and lead, shaping the project's direction collaboratively.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">✨ Full Transparency</h2>
          <p>Providing clear and accessible documentation of our governance structures, policies, and decision-making processes.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">🚀 Enhanced Participation Opportunities</h2>
          <p>Offering new roles and avenues for community involvement and leadership in the project.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ end }}
